{% extends 'store/main.html' %}
{% load static %}
{% block content %}

<div id="main">
    <div class="inner">

        <div id="main">
            <div class="inner">
    
            <!-- Boxes -->
                <div class="thumbnails">
                    {% for product in products %}
                    <div class="box">
                        <a class="image fit"><img src="{{product.image.url}}" alt="" /></a>
                        <div class="inner">
                            <h3>{{product.name | truncatewords:6}}</h3>
                            <p>{{product.info | truncatewords:40}}</p>
                            <p>${{product.price}}</p>
                            <a href="{{ product.get_absolute_url }}" class="button fit">Watch</a>
                        </div>
                    </div>
                    {% endfor %}
                
                    </div>
    
                </div>
    
            </div>
        </div>

{% endblock content %}