{% extends 'store/main.html' %}
{% load static %}
{% block content %}
<div style="    
width: 100%;
padding-right: 15px;
padding-left: 15px;
margin-right: auto;
margin-left: auto;">
	<div style="    
    align-items: flex-stretch;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid;
	margin-top: 70px;">
		<div style="margin-top: 10px;">
			<div style="    
			border-radius: 4px;
			padding: 10px;">

				<a  class="btn btn-outline-dark" href="{% url 'store' %}">&#x2190; Continue Shopping</a>

				<br>
				<br>
				<table class="table">
					<tr>
						<th><h2>Items: <strong>{{order.get_cart_items}}</strong></h2></th>
						<th><h2>Total:<strong> ${{order.get_cart_total|floatformat:2}}</strong></h2></th>
						<th>
							<a  style="float:right; margin:5px;" class="btn btn-success" href="{% url 'checkout' %}">Checkout</a>
						</th>
					</tr>
				</table>

			</div>
			<div style="    
			border-radius: 4px;">
				<div style="    
				display: flex;
				align-items: flex-stretch;
				padding-bottom: 10px;
				margin-bottom: 10px;
				border-bottom: 1px solid;">
					<div style="flex:2"></div>
					<div style="flex:2"><strong><h2>Item</h2></strong></div>
					<div style="flex:1"><strong><h2>Price</h2></strong></div>
					<div style="flex:1"><strong><h2></h2>Quantity</h2></strong></div>
					<div style="flex:1"><strong><h2>Total</h2></strong></div>
				</div>
				{% for item in items %}
				<div style="    
				display: flex;
				align-items: flex-stretch;
				padding-bottom: 5px;
				margin-bottom: 5px;
				border-bottom: 1px solid #ececec;">
					<div style="flex:2"><img style="width: 300px;" src="{{item.product.imageURL}}"></div>
					<div style="flex:2"><h3>{{item.product.name}}</h3></div>
					<div style="flex:1"><h3>${{item.product.price|floatformat:2}}</h3></div>
					<div style="flex:1">
						<p style="    
						display: inline-block;
						font-weight: 700;
						padding-right:10px;
						font-size: 1.35em;">{{item.quantity}}</p>
						<div style="    
						display: inline-block;
						font-weight: 700;
						padding-right:10px;">
							<img data-product="{{item.product.id}}" data-action="add" class="chg-quantity update-cart" src="{% static  'images/arrow-up.png' %}">
					
							<img data-product="{{item.product.id}}" data-action="remove" class="chg-quantity update-cart" src="{% static  'images/arrow-down.png' %}">
						</div>
					</div>
					<div style="flex:1"><h3>${{item.get_total|floatformat:2}}</h3></div>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
</div>

{% endblock content %}